* {
    font-family: "Poppins", calibri;
    color: #eee;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-align: center;
}

::selection {
    background-color: #055699;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, #023966, #222);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    margin-top: 200px;
    font-size: 3rem;
}

#input-field {
    display: flex;
    gap: 1px;

    align-items: center;
    justify-content: center;
}

#task-name {
    background-color: #00000055;

    padding: 10px;
    border: none;
    outline: none;

    width: clamp(150px, 20vw, 300px);

    transition-duration: 0.25s;
}

#task-name:hover {
    background-color: #00000099;
}

#task-add {
    background-color: #00000055;

    padding: 10px 25px;
    border: none;
    outline: none;

    cursor: pointer;

    transition-duration: 0.25s;
}

#task-add:hover {
    background-color: #00000099;
}

#time {
    margin-top: 10px;
    font-size: small;
    opacity: 0.8;
}

ul#task-list {
    margin-top: 20px;
    height: 40vh;
    width: clamp(300px, 50vw, 800px);

    background-color: #00000055;
    padding: 15px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow: hidden auto;
    border-radius: 15px 0 0 15px;
}

ul#task-list::-webkit-scrollbar {
    width: 5px;
    background-color: #000;
    border-radius: 15px;
}

ul#task-list::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 15px;
}

li.task {
    display: flex;
    gap: 5px;

    background-color: #00000055;
    padding: 10px 20px;
    border-radius: 10px;

    position: relative;

    cursor: pointer;
    transition-duration: 0.25s;
    
    display: flex;
    align-items: center;
}

li.task.completed {
    opacity: 0.75;
}

li.task::after {
    content: "";
    background-color: #eee;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 0;
    height: 2px;

    transition-duration: 0.25s;
}

li.task.completed::after {
    width: 100%;
}

button.delete-btn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
    cursor: pointer;
    transition-duration: 0.25s;

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

button.delete-btn:hover {
    filter: brightness(150%);
}